*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .about-us{
    height: 200vh;
    width: 100%;
    padding: 50px 0;
    background: #ddd;
  }
  .pic{
    height: auto;
    width:  auto;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
 }
 a {
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    padding-top: 2%;
 }
  .about{
    height:auto;
    width: auto;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .text{
    height: auto;
    width: 540px;
    position: relative;
    left: 100px;
    top: 2px;  
    margin-bottom: 20px;
}
  .text h2{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    left: 70px;
    top: 2px;
  
  }
  
  span{
    color: #4070f4;
  }
  .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    position: relative;
    left: 80px;
    top: 2px;
  }
  .data{
    margin-top: 80px;
     margin-left: 150px;
  }
  .hire{
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
  }
  .hire:hover{
    background: #000;
    border: 1px solid #4070f4;
    
  }